<div class="container">
  <div class="mt-4">
    <%= simple_form_for(@restaurant) do |f|%>
      <%= f.input :name, class: "form-control" %>
      <%= f.input :category, class: "form-control" %>
      <%= f.input :phone_number, class: "form-control" %>
      <%= f.input :address, class: "form-control" %>
      <%= f.submit class: "btn btn-primary"%>
    <% end %>
    <%= link_to 'Back', root_path, class: "btn btn-secondary mt-4"%>
  </div>