<div class="container my-4">
  <div class="my-4">
    <h1 class="text-center">Restaurant name: <%= @restaurant.name %></h1>
  </div>
  <div class="d-flex justify-content-center">
    <div class="col-8">
      <div class="d-flex justify-content-between">
        <h2 class="my-2">Category: <%= @restaurant.category %></h2>
        <h2 class="">Phone number: <%= @restaurant.phone_number %></h2>
      </div>
      <div class="d-flex my-2">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </div>
      <div class="mx-auto m-4 card p-2">
        <h5>Write a review</h5>
        <%= simple_form_for [@restaurant, @review] do |f| %>
          <div class="form-group">
            <%= f.input :rating, required: false, input_html: { class: 'form-control' } %>
          </div>
          <div class="form-group">
            <%= f.input :content, required: false, input_html: { class: 'form-control' } %>
          </div>
          <%= f.submit "Submit review", class: "btn btn-primary" %>
        <% end %>
      </div>
      <h2 class="mt-4 pt-4">Reviews:</h2>
      <% @restaurant.reviews.each do |review| %>
        <% unless review.new_record? %>
          <div class="review border p-3 my-2">
            <h3>Rating: <span><%= review.rating %></span></h3>
            <p><%= review.content %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-4">
    <%= link_to 'Back', root_path, class: "btn btn-secondary mt-4" %>
  </div>
</div>
<style>
  h1 {
    background: rgba(32, 201, 151, 0.3);
    padding: 1rem;
    border-radius: 8px;
    border: 5px solid rgba(32, 201, 151, 0.5);
    font-size: 2rem;
  }

  h2 {
    color: #6c757d;
    font-size: 1.5rem;
  }

  h3 {
    color: #6c757d;
    font-size: 1.2rem;
  }

  i {
    font-size: 1.5rem;
    color: #ffcd39;
  }

  span {
    font-weight: bold;
  }

  .review {
    border-radius: 8px;
    padding: 1rem;
    margin: 5px 20px;
  }
</style>